* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.input-container {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  background: #e9e9e9;
  display: flex;
}

.input-div {
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 550px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background: rgba(0, 0, 0, 0.9); */
  background:ghostwhite;
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.currency-converter-main {
  padding-bottom: 5em;
  text-align: center;
  color: black;
}

.currency-converter {
  color: black;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
  text-align: center;
}


.currency-input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  /* background: #FFB6C1; */
  background:	deepskyblue;
  letter-spacing: 1px;
}

input, select {
  background: none;
  border:0;
  font-size: large;
  padding: 20px;
}

